@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

/* Skills Page Styles */

.skills-page {
	max-width: 100%;
	/* margin: 0 auto; */
	margin-bottom: 30rem;
}

.skills-content {
	display: flex;
	flex-direction: column;
}

.skills-block {
	margin-top: 2rem;
}

.skills-categories {
	display: flex;
	flex-wrap: wrap;
	/* overflow-x: auto; */
}

.skill-category {
	margin: 0.5rem 3rem 0 0;
	flex-shrink: 0;
	/* width: 15rem; */
}

.skill-row {
	display: flex;
	align-items: center;
	margin-top: 0.5rem;
}

.tech-icon {
	color: var(--dark-color);
	margin-right: 0.5rem;
}

/* Project Styles */

.projects-page {
	width: 100%;
	margin: 0 auto;
}

.project-summary {
	display: flex;
	align-items: center;
	overflow-x: auto;
	margin-bottom: 10rem;
}

.project-image {
	width: 36rem;
	height: 24rem;
	margin-right: 2rem;
	background-size: cover;
	/* border-radius: 0.3rem; */
	transition: opacity 0.2s;
}

.project-image:hover {
	opacity: 0.8;
}

.project-text {
	flex-shrink: 0;
	margin-left: 2rem;
	height: 24rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.project-fields {
	max-width: 75ch;
	overflow-y: auto;
}

.project-field {
	display: flex;
	align-items: flex-start;
	margin-bottom: 1rem;
}

/* .project-field:first-of-type {
	margin-top: 0;
} */

.project-field h3 {
	font-size: 1.5rem;
	margin-right: 0.5rem;
}

.project-responsibilities {
	flex-direction: column;
}

.project-responsibilities ul {
	list-style-position: inside;
}

.project-responsibilities li {
	margin-top: 0.5rem;
}

.project-links {
	margin-top: 1.5rem;
	flex-shrink: 0;
	display: flex;
	overflow-x: auto;
}

.project-link {
	margin-right: 2rem;
	flex-shrink: 0;
}

.project-link a {
	color: inherit;
	text-decoration: none;
	transition: color 0.2s;
}

.project-link:hover {
	color: var(--hover-color);
}

.thumbnails-wrapper {
	display: flex;
	justify-content: space-evenly;
	width: 30rem;
	margin: 4rem auto 0;
}

.thumbnail {
	width: 1.5rem;
	height: 1.5rem;

	cursor: pointer;
	transition: opacity 0.2s;
}

.thumbnail:hover {
	opacity: 0.5;
}

/* Contact Page Styles */

.contact-page {
	padding: 0 1rem 0;
}
